@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600&family=Roboto:wght@900&display=swap");
@keyframes animation-appear-right {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animation-appear-left {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes path-anim {
  100% {
    stroke-dashoffset: 0px;
  }
}
@keyframes wave-appear {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pulse1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2.2) translateZ(var(--distance-3d));
    opacity: 0;
  }
}
@keyframes pulse2 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(2.2) translateZ(50px);
    opacity: 0;
  }
}
@keyframes slideX {
  100% {
    transform: translateX(0) translateZ(calc(var(--distance-3d) * 2.25));
  }
}
@keyframes slideY {
  100% {
    transform: translateY(0) translateZ(var(--distance-3d));
  }
}
@keyframes bigAppear {
  50% {
    transform: scale(1.4) translateZ(calc(var(--distance-3d) * 1.5));
  }
  100% {
    transform: scale(1) translateZ(calc(var(--distance-3d) * 1.5));
  }
}
@keyframes bigDisappear {
  0% {
    transform: scale(1.4) translateZ(calc(var(--distance-3d) * 1.5));
  }
  100% {
    transform: scale(0) translateZ(calc(var(--distance-3d) * 1.5));
  }
}
@keyframes animateGradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes waving {
  0% {
    background-position-x: 1920px;
  }
  100% {
    background-position-x: 0;
  }
}
:root {
  font: 62.5% "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scrollbar-color: #999 white;
  --distance-3d: 10px;
}
@media only screen and (min-width: 1366px) {
  :root {
    --distance-3d: 100px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*::-webkit-scrollbar {
  width: 0.5px;
  height: 0.5px;
}
*::-webkit-scrollbar-track {
  background: hsl(221deg, 91%, 9%);
}
*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  border: 2px solid hsl(221deg, 91%, 9%);
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.25);
}
@media only screen and (min-width: 640px) {
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  overflow: hidden;
}
.loading__side {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: hsl(221deg, 91%, 9%);
}
.loading__side--left {
  left: 0;
}
.loading__side--left.loading__side--loaded {
  animation: slide-up 0.3s 3s ease forwards;
}
.loading__side--right {
  right: 0;
}
.loading__side--right.loading__side--loaded {
  animation: slide-down 0.3s 3s ease forwards;
}
.loading__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-logo {
  margin: 0.5rem;
  z-index: 1;
}
.loading-logo__path--first {
  stroke-dasharray: 135.72px;
  stroke-dashoffset: 135.72px;
  animation: path-anim 1s 0.7s ease forwards;
}
.loading-logo__path--second {
  stroke-dasharray: 135.72px;
  stroke-dashoffset: 135.72px;
  animation: path-anim 1s 0s ease forwards;
}
.loading-logo--loaded {
  animation: disappear 0.2s 2.5s ease forwards;
}

.loading-text-box {
  display: inline-flex;
  overflow: hidden;
}
.loading-text-box__p {
  font-size: 1.65rem;
  margin: 0 0.25rem;
}
.loading-text-box__p:first-child {
  animation: disappear 0.2s 2s ease backwards reverse;
}
.loading-text-box__p--loaded:first-child {
  animation: disappear 0.2s 2s ease backwards reverse, slide-up 0.3s 3s ease forwards;
}
.loading-text-box__p:last-child {
  animation: disappear 0.2s 2s ease backwards reverse;
}
.loading-text-box__p--loaded:last-child {
  animation: disappear 0.2s 2s ease backwards reverse, slide-down 0.3s 3s ease forwards;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-up {
  100% {
    transform: translateY(-100%);
  }
}
@keyframes slide-down {
  100% {
    transform: translateY(100%);
  }
}
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  transition: transform 0.5s 0s ease, opacity 0.5s 0s ease, background 1s 0s ease, height 0.5s 0s ease;
  opacity: 0;
}
@media only screen and (min-width: 640px) {
  .header {
    animation: none;
  }
}
@supports not (backdrop-filter: blur(10px)) {
  .header {
    background: rgba(0, 0, 0, 0.3);
  }
}
.header--opened {
  width: 100%;
  height: 100vh;
  transform: scale;
  opacity: 1;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.075);
}
@supports not (backdrop-filter: blur(10px)) {
  .header--opened {
    background: rgba(0, 0, 0, 0.6);
  }
}
.header--hidden {
  opacity: 0;
  pointer-events: none;
}
.header--loaded {
  opacity: 1;
  pointer-events: all;
}
@media only screen and (min-width: 640px) {
  .header {
    padding: 2rem;
    height: initial;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.075);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header--opened .hamburger-menu__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 3px;
}
.header--opened .hamburger-menu__line--first {
  top: 0;
  width: 75%;
  left: 0;
  transform: rotate(45deg) translate(5.5px, 4px);
}
.header--opened .hamburger-menu__line--second {
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg);
}
.header--opened .hamburger-menu__line--last {
  width: 75%;
  left: 50%;
  transform: rotate(45deg) translate(-13.5px, -0.2px);
}

.hamburger-menu {
  position: relative;
  background: none;
  border: none;
  width: 32px;
  height: 22px;
  cursor: pointer;
  margin: 0.75rem 2.5rem;
}
.hamburger-menu__line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background: white;
  border-radius: 3px;
  transition: transform 0.3s 0s ease-in-out;
}
.hamburger-menu__line--first {
  top: 0;
  width: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hamburger-menu__line--second {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.hamburger-menu__line--last {
  top: 100%;
  width: 50%;
  left: 50%;
  transform: translateY(-50%);
}
@media only screen and (min-width: 640px) {
  .hamburger-menu {
    display: none;
  }
}

.nav {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
}
@media only screen and (min-width: 640px) {
  .nav {
    align-items: center;
    height: initial;
    height: initial;
    padding: 0;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}
.menu__item {
  list-style: none;
  font-size: 4rem;
  opacity: 0;
  padding: 0.75rem;
  transform: translateY(-50%);
}
.menu--loaded .menu__item:nth-child(1) {
  animation: disappear 0.5s 0.1666666667s reverse forwards, slideY 0.5s 0.1666666667s forwards;
}
.menu--loaded .menu__item:nth-child(2) {
  animation: disappear 0.5s 0.3333333333s reverse forwards, slideY 0.5s 0.3333333333s forwards;
}
.menu--loaded .menu__item:nth-child(3) {
  animation: disappear 0.5s 0.5s reverse forwards, slideY 0.5s 0.5s forwards;
}
.menu--loaded .menu__item:nth-child(4) {
  animation: disappear 0.5s 0.6666666667s reverse forwards, slideY 0.5s 0.6666666667s forwards;
}
.menu--loaded .menu__item:nth-child(5) {
  animation: disappear 0.5s 0.8333333333s reverse forwards, slideY 0.5s 0.8333333333s forwards;
}
@media only screen and (min-width: 640px) {
  .menu--loaded .menu__item:nth-child(1) {
    animation: disappear 0.5s 2.1666666667s reverse forwards, slideY 0.5s 0.1666666667s forwards;
  }
  .menu--loaded .menu__item:nth-child(2) {
    animation: disappear 0.5s 2.3333333333s reverse forwards, slideY 0.5s 0.3333333333s forwards;
  }
  .menu--loaded .menu__item:nth-child(3) {
    animation: disappear 0.5s 2.5s reverse forwards, slideY 0.5s 0.5s forwards;
  }
  .menu--loaded .menu__item:nth-child(4) {
    animation: disappear 0.5s 2.6666666667s reverse forwards, slideY 0.5s 0.6666666667s forwards;
  }
  .menu--loaded .menu__item:nth-child(5) {
    animation: disappear 0.5s 2.8333333333s reverse forwards, slideY 0.5s 0.8333333333s forwards;
  }
}
.menu__link {
  position: relative;
  display: block;
  padding: 0 1rem;
  margin: 0 1rem;
  text-decoration: none;
  color: white;
}
.menu__link::before {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: hsl(336deg, 100%, 50%);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s 0s ease;
}
.menu__link::after {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background: hsl(336deg, 100%, 50%);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.2s 0s ease;
}
.menu__link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.menu__link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
@media only screen and (min-width: 640px) {
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: initial;
    flex-direction: row;
    transform: none;
  }
  .menu__item {
    font-size: 2rem;
    padding: 0;
  }
}

.header--opened .menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 640px) {
  .logo {
    opacity: 0;
    animation: disappear 0.5s 6s ease-out reverse forwards;
  }
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 14rem;
  width: 90%;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  transform: translateZ(50px);
  margin: 3rem 0;
  width: 100%;
}
.hello__header {
  font-size: 3rem;
}
.hello__header--main {
  opacity: 0;
  transform: translateZ(225px);
}
.hello__header--second {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  transform: translateY(225px);
}
@media only screen and (min-width: 480px) {
  .hello__header {
    font-size: 3.5rem;
  }
  .hello__header--second {
    width: max-content;
  }
}
@media only screen and (min-width: 640px) {
  .hello__header {
    font-size: 5rem;
    width: max-content;
  }
  .hello__header--main {
    align-self: flex-start;
    margin-bottom: 2rem;
  }
  .hello__header--second {
    align-self: flex-end;
  }
}
@media only screen and (min-width: 1024px) {
  .hello__header {
    font-size: 7rem;
  }
}
.hello__header--loaded {
  animation: disappear 0.5s 6.75s ease-out reverse forwards, slideX 0.5s 6.75s ease-out forwards;
}
@media only screen and (min-width: 480px) {
  .hello {
    width: 390px;
  }
}
@media only screen and (min-width: 640px) {
  .hello {
    width: 580px;
    margin: 5rem 0;
  }
}
@media only screen and (min-width: 1024px) {
  .hello {
    width: 800px;
  }
}

.home-desc {
  text-align: center;
  transform: translateZ(100px);
}
.home-desc__title {
  font-size: 2rem;
  margin: 1rem;
  opacity: 0;
}

.strong {
  font-weight: 600;
}

.scroll-down-cnt {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 16%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1366px) {
  .scroll-down-cnt {
    bottom: 20%;
  }
}

.go-down {
  width: 75px;
  height: 75px;
  border: 2px solid white;
  border-radius: 50%;
  background: transparent;
  color: white;
  cursor: pointer;
  transform: scale(0) translateZ(150px);
}
.go-down__text {
  font-size: 3rem;
  transform: rotate(90deg);
}
.go-down--loaded {
  animation: bigAppear 1.2s 1.25s ease-in-out forwards;
}
.go-down--pulsing::before, .go-down--pulsing::after {
  content: "";
  position: absolute;
  display: block;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid white;
  opacity: 0;
}
.go-down--pulsing::before {
  animation: pulse1 2.4s 0s infinite;
}
.go-down--pulsing::after {
  animation: pulse2 2.4s 0.7s infinite;
}
@media only screen and (min-width: 1024px) {
  .go-down {
    width: 100px;
    height: 100px;
  }
  .go-down__text {
    font-size: 6rem;
  }
}

.pattern-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-header__text {
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .about-header {
    margin-left: 0;
  }
  .about-header__text {
    text-align: start;
  }
}

.about-description {
  margin: 4rem;
}
.about-description__options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 4rem 0;
}
@media only screen and (min-width: 1024px) {
  .about-description__options {
    justify-content: flex-start;
  }
}
.about-description .download-resume-btn {
  margin: 0;
}

.rocket-cnt {
  position: relative;
  margin: 0 auto;
  width: 280px;
  height: 265px;
  overflow: hidden;
}
.rocket-cnt::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
.rocket-cnt__frame {
  pointer-events: none;
}

.categories {
  max-width: 1600px;
}
.categories__column {
  padding: 6rem 0;
}

.skills-header {
  text-align: center;
}

.category-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2rem auto;
}
.category-header__icon {
  padding: 0;
}
.category-header__svg {
  transform: scale(0.75);
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
}
.category-header__svg--animated {
  animation: path-anim 1s 0s ease-in-out forwards;
}
.category-header__text {
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 4px 6px rgba(30, 30, 30, 0.25);
}

.category-items {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 200px;
}

.category-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  margin: 2rem 1rem;
  width: 64px;
}
.category-item--large {
  width: 256px;
}
.category-item__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.category-item__icon, .category-item__img-icon {
  font-size: 4rem;
  min-width: 40px;
}
.category-item__name {
  display: block;
  text-align: center;
  font-size: 1.3rem;
  margin: 0.5rem;
}

@media only screen and (min-width: 640px) {
  .category-header {
    flex-direction: row;
  }
  .category-header__svg {
    transform: none;
  }
  .category-header__text {
    font-size: 5rem;
    margin: 0 2rem;
  }
  .category-items {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1600px;
  }
  .category-item {
    width: auto;
  }
}
.section--projects {
  margin-bottom: 180px;
}

.projects-header {
  text-align: center;
  margin: 4rem;
}

.project-cnt {
  margin-bottom: 10rem;
}

.project-box {
  margin: 0 auto;
  text-align: center;
  max-width: 1000px;
}

.project-visualization {
  margin: 0 auto;
  max-width: 80%;
}

.project-content {
  position: relative;
  z-index: 1;
}
.project-content__title {
  font-size: 6rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.project-content__description {
  max-width: 600px;
  font-size: 2rem;
  text-align: inherit;
  letter-spacing: 1px;
  margin: 3rem auto;
  padding: 0 2rem;
}
.project-content__paragraph {
  text-align: center;
  margin-bottom: 2rem;
}
.project-content__link {
  text-decoration: none;
  color: hsl(336deg, 100%, 50%);
}

.category-items--straight {
  max-width: 100%;
  gap: 0.5rem;
  justify-content: center;
}

.category-item--mini {
  margin: 0;
  width: auto;
}
.category-item__icon--mini {
  font-size: 3rem;
}

.link-box {
  margin-top: 2rem;
}
.link-box__link {
  margin: 0.5rem;
  margin-block-end: 0.5rem;
  font-size: 3rem;
  text-decoration: none;
  color: hsl(336deg, 100%, 50%);
}
.link-box__icon {
  font-size: inherit;
}
.link-box__icon:active {
  color: white;
}
@media only screen and (min-width: 1024px) {
  .link-box__icon {
    transition: color 0.3s 0s ease;
  }
  .link-box__icon:hover {
    color: white;
  }
}

.project-imgs-box {
  width: 100%;
  position: relative;
}

.project-img {
  filter: brightness(70%);
  transition: filter 0.5s 0s ease;
}
.project-img:hover {
  filter: initial;
}

.img-box--phone {
  position: absolute;
  bottom: -20%;
  right: -10%;
  margin: 2rem;
  transform: translate(0, 0);
}
.img-box--phone-left {
  right: initial;
  left: -10%;
}
.img-box__pc-img {
  border-radius: 1.25rem;
  max-width: 100%;
}
.img-box__phone-img {
  box-shadow: -12px -12px 15px -5px hsla(0deg, 0%, 10%, 0.65);
  border-radius: 1.5rem;
  max-width: 120px;
  height: 200px;
}
.img-box__phone-img--left {
  box-shadow: 12px -12px 15px 5px hsla(0deg, 0%, 10%, 0.65);
}

@media only screen and (min-width: 480px) {
  .img-box__phone-img {
    max-width: 200px;
    height: 270px;
  }
}
@media only screen and (min-width: 640px) {
  .project-visualization {
    max-width: 480px;
  }
  .img-box__phone-img {
    max-width: 180px;
    height: 320px;
  }
}
@media only screen and (min-width: 1024px) {
  .project-visualization {
    margin: 0;
  }
  .project-visualization--un-hovered {
    transform: none;
    transition: transform 1s 0s ease;
  }
  .project-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .project-box--left {
    flex-direction: row-reverse;
  }
  .project-content {
    text-align: right;
  }
  .project-content--left {
    text-align: left;
  }
  .project-content__description {
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.25);
    padding: 1rem;
  }
  .project-content__paragraph {
    text-align: inherit;
  }
  .category-items--straight {
    justify-content: flex-end;
  }
  .category-items--left {
    justify-content: flex-start;
  }
  .link-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .link-box__link {
    display: block;
  }
  .link-box--left {
    justify-content: flex-start;
  }
}
.footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  background: #04205d;
}
.footer__wave {
  position: absolute;
  width: 100%;
  height: 200px;
  top: -120%;
  left: 0;
  background: rgba(0, 128, 0, 0.5);
  background-size: 1000px 200px;
}
.footer__wave--1 {
  background: url("../imgs/wave_1.svg");
  animation: waving 14s 0s linear infinite reverse;
}
.footer__wave--2 {
  background: url("../imgs/wave_2.svg");
  animation: waving 14s 0s linear infinite;
}
.footer__content {
  position: relative;
  z-index: 1;
  color: hsl(336deg, 100%, 50%);
  margin: 3rem;
}
.footer__rights {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}
.footer__rights--icon {
  font-size: 3rem;
  margin: 0 0.5rem;
}
@media only screen and (min-width: 1366px) {
  .footer__rights {
    font-size: 2rem;
    padding: 1rem;
  }
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons-container__link {
  padding: 1rem;
  color: inherit;
}
.icons-container__icon {
  width: 32px;
  height: 32px;
  transition: color 0.3s 0s ease-in-out, transform 0.3s 0s ease-in-out;
  mix-blend-mode: difference;
}
.icons-container__link:hover .icons-container__icon {
  transform: translateY(-14px);
}
.icons-container__link:hover .icons-container__icon--gmail {
  color: #c5221e;
}
.icons-container__link:hover .icons-container__icon--facebook {
  color: #2277f2;
}
.icons-container__link:hover .icons-container__icon--codepen {
  color: white;
}
.icons-container__link:hover .icons-container__icon--github {
  color: white;
}
.icons-container__link:hover .icons-container__icon--dribbble {
  color: #ea4c89;
}
.icons-container__path {
  transition: 0.3s 0.45s ease;
}

.contact-content {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  backdrop-filter: blur(8px);
  transition: opacity 0.25s 0.5s ease, z-index 0s 0.75s ease;
}
.contact-content--opened {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
  transition: opacity 0.25s 0s ease;
}
.contact-content__placeholder {
  position: relative;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
@media only screen and (min-width: 1024px) {
  .contact-content__placeholder {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    height: 90vh;
    width: 75%;
    max-width: 1300px;
    max-height: 1000px;
  }
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.slide--left {
  background: white;
  transform: translateX(-100%);
  transition: transform 0.2s 0.5s ease-out;
}
.slide--right {
  background: url("../imgs/bg-home.svg"), linear-gradient(360deg, #4f002f 0%, #000e2a 100%);
  background-size: 200%;
  transform: translateX(-100%);
  transition: transform 0.2s 0.25s ease-out;
}
.slide--opened {
  opacity: 1;
  pointer-events: none;
  transform: none;
}
@media only screen and (min-width: 1024px) {
  .slide {
    position: initial;
    transition: transform 0.2s 0.25s ease-out;
  }
  .slide--left {
    flex: 1;
    transform: translateY(-100%);
  }
  .slide--right {
    width: 300px;
    transform: translateY(100%);
  }
  .slide--opened {
    transform: none;
  }
}

.form-cnt {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background: white;
  width: 100%;
  height: 100vh;
  overflow: auto;
  transition: opacity 0.3s 0s linear;
}
.form-cnt--opened {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s 0.55s linear;
}
.form-cnt__close-line {
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background: white;
}
.form-cnt__close-line--first {
  top: 50%;
  transform: rotate(45deg);
}
.form-cnt__close-line--two {
  transform: rotate(-45deg);
}
.form-cnt__header {
  background: url("../imgs/bg-home.svg"), linear-gradient(360deg, #4f002f 0%, #000e2a 100%);
  background-size: 200%;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 300;
  color: white;
}
.form-cnt__header--desktop {
  display: none;
  margin: 0 auto;
  padding: 2rem 0;
  background: none;
}
.form-cnt__title {
  font-weight: 600;
  max-width: 300px;
  margin: 0 auto;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.form-cnt__title--desktop {
  color: hsl(221deg, 91%, 9%);
}
.form-cnt__close {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin: 1rem;
  color: inherit;
  border: none;
  background: none;
}
.form-cnt__img {
  max-width: 100%;
}
@media only screen and (min-width: 640px) {
  .form-cnt__header {
    font-size: clamp(5rem, 7vw, 6rem);
  }
  .form-cnt__header--desktop {
    font-size: 4rem;
  }
  .form-cnt__title {
    max-width: 100%;
  }
  .form-cnt__img {
    width: min(1300px, 100%);
    z-index: -1;
  }
}
@media only screen and (min-width: 1024px) {
  .form-cnt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 90vh;
    max-width: 1300px;
    max-height: 1000px;
  }
  .form-cnt__header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: 100%;
  }
  .form-cnt__header--desktop {
    flex: 2;
    max-width: 500px;
    height: auto;
  }
  .form-cnt__title {
    display: none;
  }
  .form-cnt__title--desktop {
    display: block;
  }
  .form-cnt__img {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .form-inputs {
    flex-grow: 1;
  }
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profile__img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 1rem;
}
.profile__name {
  text-align: center;
  white-space: nowrap;
  font-size: 2.5rem;
}
@media only screen and (min-width: 640px) {
  .profile__img {
    height: 250px;
    width: 250px;
  }
  .profile__name {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1024px) {
  .profile__img {
    height: 120px;
    width: 120px;
  }
  .profile__name {
    font-size: 2.5rem;
  }
}

.contact-form {
  margin: 5rem;
}
@media only screen and (min-width: 640px) {
  .contact-form {
    margin-bottom: 3rem;
    padding: 3rem;
    padding-top: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .contact-form {
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
}
@media only screen and (min-width: 1366px) {
  .contact-form {
    justify-content: center;
  }
}

.phone-contact {
  margin: 2rem;
}
@media only screen and (min-width: 1024px) {
  .phone-contact {
    margin: 0 auto;
    width: 300px;
  }
}
@media only screen and (min-width: 1024px) {
  .phone-contact {
    width: 500px;
  }
}

.phone-zone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.phone-zone__phone-link {
  color: inherit;
}
.phone-zone__phone-icon {
  margin: 0.5rem;
  font-size: 6rem;
}
.phone-zone__phone-button {
  display: none;
  background: transparent;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
  text-transform: uppercase;
}
@media only screen and (min-width: 1024px) {
  .phone-zone__phone-link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  .phone-zone__phone-icon {
    font-size: 3rem;
  }
  .phone-zone__phone-button {
    display: block;
  }
}

.input-info {
  border: none;
}
@media only screen and (min-width: 1024px) {
  .input-info {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    height: 100%;
    flex-direction: column;
  }
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
  width: 100%;
}
.row--area {
  margin-bottom: 1rem;
}
@media only screen and (min-width: 640px) {
  .row--double {
    width: 50%;
  }
}

.note-positioned {
  position: absolute;
}

@media only screen and (min-width: 640px) {
  .rows {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
}

.form-label {
  color: hsl(221deg, 91%, 9%);
  font-size: 2rem;
  font-weight: 450;
}
.form-label__required-icon {
  font-size: 1.3rem;
}

.submit-cnt {
  margin-left: auto;
  position: relative;
  overflow: hidden;
}

.form-submit {
  position: relative;
  cursor: pointer;
  display: block;
  margin-left: auto;
  background: hsl(221deg, 91%, 9%);
  border: none;
  border-radius: 0.75rem;
  font-size: 2rem;
  padding: 1.25rem 3rem;
}
.form-submit__label {
  display: none;
  padding: 0 1rem;
  color: white;
}
.form-submit__icon {
  color: white;
}
@media only screen and (min-width: 640px) {
  .form-submit {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    right: initial;
  }
  .form-submit__label {
    display: inline;
  }
}
@media only screen and (min-width: 1024px) {
  .form-submit {
    margin: 0;
    padding: 1.25rem 1.5rem;
  }
}

.input-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 1rem 0;
}

.form-input {
  font-family: "Inter", sans-serif;
  padding: 1.5rem 1.25rem;
  border: 3px solid hsl(221deg, 91%, 9%);
  border-radius: 0.85rem;
  background: transparent;
  font-size: 2rem;
  width: 100%;
  resize: none;
  padding-left: 4rem;
}
.form-input::placeholder {
  color: hsl(0deg, 0%, 80%);
}
.form-input:focus-visible {
  outline: none;
  border-color: hsl(336deg, 100%, 50%);
}
.form-input--textarea {
  max-height: 300px;
}
@supports not selector(*:focus-visible) {
  .form-input:focus {
    outline: none;
    border-color: hsl(336deg, 100%, 50%);
  }
}

.form-placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  color: hsl(0deg, 0%, 80%);
  pointer-events: none;
  font-size: 1.75rem;
}
.form-placeholder--textarea {
  margin: 1.25rem 1rem;
}
.form-placeholder:not(.form-placeholder--textarea) {
  top: 50%;
  margin-left: 1rem;
  transform: translateY(-50%);
}
.form-placeholder ~ .form-placeholder__label {
  background: red;
}
.form-placeholder__icon {
  margin-right: 0.5rem;
  font-size: 1.5em;
  transition: color 0.5s 0s ease;
}
.form-placeholder__label {
  transition: opacity 0.5s 0s ease;
}

.form-input:focus ~ .form-placeholder .form-placeholder__icon {
  color: hsl(336deg, 100%, 50%);
}
.form-input:focus ~ .form-placeholder .form-placeholder__label {
  opacity: 0;
}

.page {
  height: 100vh;
  font-family: "Inter";
  color: white;
  background: hsl(217deg, 100%, 50%);
  overflow: hidden;
  position: relative;
}

.test {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-size: 45rem;
}

.animated-item {
  opacity: 0;
}
.animated-item--animated-0 {
  animation: appear 0.5s 0s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 0s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-1 {
  animation: appear 0.5s 0.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 0.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-2 {
  animation: appear 0.5s 0.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 0.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-3 {
  animation: appear 0.5s 0.75s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 0.75s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-4 {
  animation: appear 0.5s 1s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 1s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-5 {
  animation: appear 0.5s 1.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 1.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-6 {
  animation: appear 0.5s 1.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 1.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-7 {
  animation: appear 0.5s 1.75s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 1.75s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-8 {
  animation: appear 0.5s 2s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 2s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-9 {
  animation: appear 0.5s 2.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 2.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-10 {
  animation: appear 0.5s 2.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 2.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-11 {
  animation: appear 0.5s 2.75s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 2.75s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-12 {
  animation: appear 0.5s 3s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 3s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-13 {
  animation: appear 0.5s 3.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 3.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-14 {
  animation: appear 0.5s 3.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 3.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-15 {
  animation: appear 0.5s 3.75s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 3.75s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-16 {
  animation: appear 0.5s 4s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 4s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-17 {
  animation: appear 0.5s 4.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 4.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-18 {
  animation: appear 0.5s 4.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 4.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-19 {
  animation: appear 0.5s 4.75s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 4.75s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-20 {
  animation: appear 0.5s 5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-21 {
  animation: appear 0.5s 5.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 5.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-22 {
  animation: appear 0.5s 5.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 5.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-23 {
  animation: appear 0.5s 5.75s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 5.75s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-24 {
  animation: appear 0.5s 6s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 6s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-25 {
  animation: appear 0.5s 6.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 6.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-26 {
  animation: appear 0.5s 6.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 6.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-27 {
  animation: appear 0.5s 6.75s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 6.75s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-28 {
  animation: appear 0.5s 7s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 7s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-29 {
  animation: appear 0.5s 7.25s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 7.25s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}
.animated-item--animated-30 {
  animation: appear 0.5s 7.5s cubic-bezier(0.42, 0, 0, 1.01) forwards, wave-appear 1s 7.5s cubic-bezier(0.42, 0, 0, 1.01) forwards;
}

.img-link {
  display: block;
}

.detail-sections {
  height: 100vh;
  scroll-behavior: smooth;
}

.responsive-cnt {
  max-width: 1000px;
  margin: 0 auto;
}

.pink {
  background: pink;
}

.section {
  position: relative;
  z-index: 1;
}
.section::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}
.section--about {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (min-width: 1024px) {
  .section--about {
    height: 100vh;
  }
}
.section--home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: url("../imgs/bg-home.svg") no-repeat, linear-gradient(360deg, #000e2a 0%, #4f002f 100%);
  background-size: cover;
}
.section--skills {
  background-size: 400%;
  animation: animateGradient 15s 0s linear infinite;
  overflow: hidden;
  margin-bottom: 200px;
}
.section__cnt {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.section__description {
  max-width: 600px;
  margin-bottom: 6rem;
  font-size: 2rem;
  margin: 2rem 3rem;
  font-weight: 300;
  line-height: 1.55;
  transform: translateY(5%) translateZ(15px);
  opacity: 0;
}
.section__description--strong {
  font-weight: 500;
  font-style: italic;
}
.section__description--italic {
  margin-top: 3rem;
}
.section__picture {
  max-width: 75%;
  margin: 1rem;
}
@media only screen and (min-width: 640px) {
  .section--cnt {
    padding-top: 100px;
    min-width: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .section__cnt {
    flex-direction: row;
  }
  .section__picture {
    max-width: 40%;
    margin: 3rem;
  }
  .section__description {
    margin: 0 0;
    font-size: 2rem;
  }
  .section__description--italic {
    margin-top: 4rem;
  }
}
@media only screen and (min-width: 1920px) {
  .section__description {
    font-size: 3rem;
    max-width: 700px;
  }
}

@keyframes goAndCome {
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
.cube-box {
  height: 100vh;
  width: 100vw;
  position: relative;
  perspective: 1500px;
}
.cube-box--scroll-rotate {
  animation: goAndCome 0.75s 0s ease forwards;
}

.cube {
  --ease-speed: cubic-bezier(0.33, 0.75, 0.33, 1);
  position: relative;
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 1s 0s var(--ease-speed);
  transform: rotateX(0) translateZ(-50vh) translateY(0) rotateX(0);
}
.cube--rotated {
  transform: translateZ(-50vh) translateY(0) rotateX(0.25turn);
}
.cube--false-rotated {
  transition: none;
  transform: translateZ(-50vh) translateY(0) rotateX(0.25turn);
}
.cube--after-rotated {
  transition: none;
  transform: rotateX(0) translateZ(-50vh) translateY(0) rotateX(0);
}
.cube__face {
  position: absolute;
  width: 100%;
  height: 100%;
}
.cube__face--1 {
  transform: rotateX(0) translateY(0) translateZ(50vh);
}
.cube__face--1-after-rotate {
  opacity: 0;
  pointer-events: none;
}
.cube__face--2 {
  overflow: auto;
  transform: rotateX(-90deg) translateZ(50vh);
  background: hsl(221deg, 91%, 9%);
}
.cube__face--2-after-rotate {
  transform: rotateX(0) translateZ(50vh);
}

.svg-text {
  width: 235px;
  height: 65px;
  margin: 3rem 0;
}
.svg-text--skills {
  width: 230px;
}
.svg-text--projects {
  width: 237px;
  height: 75px;
}
.svg-text__text {
  text-transform: capitalize;
  fill: none;
  font-family: "Roboto";
  stroke: #ffffff;
  font-size: 80px;
  letter-spacing: 4px;
  font-weight: 700;
  stroke-width: 1;
  --time: 1.5s;
  transform: scale(1) translate(-42%, -58%);
}
.svg-text__text--loaded {
  animation: path-anim var(--time) 0.75s ease-in-out forwards;
}
.svg-text__text--about {
  stroke-dasharray: 280px;
  stroke-dashoffset: 280px;
}
.svg-text__text--skills {
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
}
.svg-text__text--projects {
  --time: 2.5s;
  font-size: 55px;
  stroke-dasharray: 300px;
  stroke-dashoffset: 300px;
}
@media only screen and (min-width: 640px) {
  .svg-text {
    width: 350px;
    height: 95px;
  }
  .svg-text--projects {
    width: 355px;
    height: 105px;
  }
  .svg-text--skills {
    width: 340px;
  }
  .svg-text__text {
    transform: scale(1.5) translate(-28.5%, -41%);
  }
}
@media only screen and (min-width: 1366px) {
  .svg-text--about {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  gap: 6px;
  cursor: pointer;
  padding: 2rem;
  border-radius: 0.75rem;
  border: 2px solid hsl(336deg, 100%, 50%);
  background: none;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  transition: background 0.3s 0s ease, color 0.3s 0s ease;
  text-decoration: none;
  user-select: none;
  -webkit-user-drag: none;
}
.button:hover {
  background: hsl(336deg, 100%, 50%);
  color: hsl(221deg, 91%, 9%);
}
.button:hover .button__icon {
  stroke: hsl(221deg, 91%, 9%);
}
.button__icon {
  stroke: white;
  transition: stroke 0.3s 0s ease;
}

/*# sourceMappingURL=style.css.map */
