@use "colors" as c;
@use "mixins" as mix;

.contact-content {
	opacity: 0;
	pointer-events: none; //TODO: fix css bug
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -1;
	backdrop-filter: blur(8px);
	transition: opacity 0.25s 0.5s ease, z-index 0s 0.75s ease;

	&--opened {
		opacity: 1;
		pointer-events: all;
		z-index: 10;
		transition: opacity 0.25s 0s ease;
	}

	&__placeholder {
		position: relative;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		overflow: hidden;

		@include mix.media(smallPC) {
			@include mix.flex(stretch, center);
			flex-direction: row;
			height: 95vh;
			width: 80%;
		}
	}
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	&--left {
		background: white;
		transform: translateX(-100%);
		transition: transform 0.2s 0.5s ease-out;
	}

	&--right {
		background: url("../imgs/bg-home.svg"), linear-gradient(360deg, #4f002f 0%, #000e2a 100%);
		background-size: 200%;
		transform: translateX(-100%);
		transition: transform 0.2s 0.25s ease-out;
	}

	&--opened {
		opacity: 1;
		pointer-events: none;
		transform: none;
	}

	@include mix.media(smallPC) {
		position: initial;
		transition: transform 0.2s 0.25s ease-out;

		&--left {
			flex: 1;
			transform: translateY(-100%);
		}

		&--right {
			width: 300px;
			transform: translateY(100%);
		}

		&--opened {
			transform: none;
		}
	}
}

.form-cnt {
	opacity: 0;
	position: fixed;

	top: 0;
	left: 0;
	z-index: 10;
	background: white;
	width: 100%;
	height: 100vh;
	overflow: auto;
	transition: opacity 0.5s 0s linear;

	&--opened {
		opacity: 1;
		pointer-events: all;
		transition: opacity 0.5s 0.5s linear;
	}

	&__close-line {
		position: absolute;
		width: 100%;
		height: 3px;
		border-radius: 3px;
		background: white;

		&--first {
			top: 50%;
			transform: rotate(45deg);
		}

		&--two {
			transform: rotate(-45deg);
		}
	}

	&__header {
		background: url("../imgs/bg-home.svg"), linear-gradient(360deg, #4f002f 0%, #000e2a 100%);
		background-size: 200%;
		padding: 2rem 1rem;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 300;

		color: white;

		&--desktop {
			display: none;
			margin: 0 auto;
			padding: 2rem 0;
			background: none;
		}
	}

	&__title {
		font-weight: 600;
		max-width: 300px;
		margin: 0 auto;
		text-transform: uppercase;
		letter-spacing: 1px;

		&--desktop {
			color: map-get(c.$main-colors, "primary");
		}
	}

	&__close {
		cursor: pointer;
		position: fixed;
		top: 0;
		right: 0;
		width: 30px;
		height: 30px;
		margin: 1rem;
		color: inherit;
		border: none;
		background: none;
	}

	&__img {
		max-width: 100%;
	}

	@include mix.media(tablet) {
		&__header {
			font-size: clamp(5rem, 7vw, 6rem);

			&--desktop {
				font-size: 4rem;
			}
		}

		&__title {
			max-width: 100%;
		}

		&__img {
			width: min(1300px, 100%);
			z-index: -1;
		}
	}

	@include mix.media(smallPC) {
		@include mix.flex;
		flex-direction: row-reverse;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 80%;
		height: 95vh;

		// &::-webkit-scrollbar-track {
		// 	background: transparent;
		// }

		&__header {
			@include mix.flex;
			max-width: 300px;
			height: 100%;

			&--desktop {
				flex: 2;
				max-width: 500px;
				height: auto;
			}
		}

		&__title {
			display: none;

			&--desktop {
				display: block;
			}
		}

		&__img {
			display: none;
		}
	}
}

.form-inputs {
	@include mix.media(smallPC) {
		flex-grow: 1;
	}
}

.profile {
	@include mix.flex;
	flex-direction: column;

	&__img {
		height: 150px;
		width: 150px;
		object-fit: cover;
		border-radius: 50%;
		margin: 1rem;
	}

	&__name {
		text-align: center;
		white-space: nowrap;
		font-size: 2.5rem;
	}

	@include mix.media(tablet) {
		&__img {
			height: 250px;
			width: 250px;
		}

		&__name {
			font-size: 3.5rem;
		}
	}

	@include mix.media(smallPC) {
		&__img {
			height: 120px;
			width: 120px;
		}

		&__name {
			font-size: 2.5rem;
		}
	}
}

.contact-form {
	margin: 5rem;

	@include mix.media(tablet) {
		margin-bottom: 3rem;
		padding: 3rem;
		padding-top: 0;
	}

	@include mix.media(smallPC) {
		margin: 0 auto;
		height: 100%;
		@include mix.flex(center, space-around);
		flex-direction: row-reverse;
	}

	@include mix.media(mediumPC) {
		justify-content: center;
	}
}

.phone-contact {
	margin: 2rem;

	@include mix.media(smallPC) {
		margin: 0 auto;
		width: 300px;
	}

	@include mix.media(smallPC) {
		width: 500px;
	}
}

.phone-zone {
	@include mix.flex;
	margin-top: 1rem;

	&__phone-link {
		color: inherit;
	}

	&__phone-icon {
		margin: 0.5rem;
		font-size: 6rem;
	}

	&__phone-button {
		display: none;
		background: transparent;
		border: none;
		padding: 1rem;
		font-size: 2rem;
		cursor: pointer;
		text-transform: uppercase;
	}

	@include mix.media(smallPC) {
		&__phone-link {
			@include mix.flex;
			text-decoration: none;
		}

		&__phone-icon {
			font-size: 3rem;
		}

		&__phone-button {
			display: block;
		}
	}
}

.input-info {
	border: none;

	@include mix.media(smallPC) {
		@include mix.flex(stretch, stretch);
		height: 100%;
		flex-direction: column;
	}
}

.row {
	@include mix.flex(flex-start);
	flex-direction: column;
	margin-bottom: 4rem;
	width: 100%;

	&--area {
		margin-bottom: 1rem;
	}

	@include mix.media(tablet) {
		&--double {
			width: 50%;
		}
	}
}

.note-positioned {
	position: absolute;
}

.rows {
	@include mix.media(tablet) {
		@include mix.flex;
		gap: 4rem;
	}
}

.form-label {
	color: map-get(c.$main-colors, "primary");
	font-size: 2rem;
	font-weight: 450;

	&__required-icon {
		font-size: 1.3rem;
	}
}

.submit-cnt {
	margin-left: auto;
	position: relative;
	overflow: hidden;
}

.form-submit {
	position: relative;
	cursor: pointer;
	display: block;
	margin-left: auto;
	background: map-get(c.$main-colors, "primary");
	border: none;
	border-radius: 0.75rem;
	font-size: 2rem;
	padding: 1.25rem 3rem;

	&__label {
		display: none;
		padding: 0 1rem;
		color: white;
	}

	&__icon {
		color: white;
	}

	@include mix.media(tablet) {
		@include mix.flex;
		left: 0;
		right: initial;

		&__label {
			display: inline;
		}
	}

	@include mix.media(smallPC) {
		margin: 0;
		padding: 1.25rem 1.5rem;
	}
}

.input-wrapper {
	overflow: hidden;
	position: relative;
	width: 100%;
	margin: 1rem 0;
}

.form-input {
	font-family: "Inter", sans-serif;
	padding: 1.5rem 1.25rem;
	border: 3px solid map-get(c.$main-colors, "primary");
	border-radius: 0.85rem;
	background: transparent;
	font-size: 2rem;
	width: 100%;
	resize: none;
	padding-left: 4rem;

	&::placeholder {
		color: hsl(0, 0%, 80%);
	}

	&:focus-visible {
		outline: none;
		border-color: map-get(c.$main-colors, "reddy");
	}

	&--textarea {
		max-height: 175px;
	}

	@supports not selector(*:focus-visible) {
		&:focus {
			outline: none;
			border-color: map-get(c.$main-colors, "reddy");
		}
	}
}

.form-placeholder {
	@include mix.flex;
	position: absolute;
	top: 0;
	left: 0;
	color: hsl(0, 0%, 80%);
	pointer-events: none;
	font-size: 1.75rem;

	&--textarea {
		margin: 1.25rem 1rem;
	}

	&:not(&--textarea) {
		top: 50%;
		margin-left: 1rem;
		transform: translateY(-50%);
	}

	& ~ &__label {
		background: red;
	}

	&__icon {
		margin-right: 0.5rem;
		font-size: 1.5em;
		transition: color 0.5s 0s ease;
	}

	&__label {
		transition: opacity 0.5s 0s ease;
	}
}

.form-input:focus ~ .form-placeholder {
	.form-placeholder {
		&__icon {
			color: map-get(c.$main-colors, "reddy");
		}

		&__label {
			opacity: 0;
		}
	}
}
