@use "mixins" as mix;
@use "colors" as c;

.footer {
	position: relative;
	@include mix.flex(flex-end);
	width: 100%;
	background: lighten(map-get(c.$main-colors, "primary"), 10%);

	&__wave {
		position: absolute;
		width: 100%;
		height: 200px;
		top: -120%;
		left: 0;
		background: rgba(green, 0.5);
		background-size: 1000px 200px;
		&--1 {
			background: url("../imgs/wave_1.svg");
			animation: waving 14s 0s linear infinite reverse;
		}

		&--2 {
			background: url("../imgs/wave_2.svg");
			animation: waving 14s 0s linear infinite;
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		color: map-get(c.$main-colors, "reddy");
		margin: 3rem;
	}

	&__rights {
		@include mix.flex;
		text-align: center;
		font-size: 1.5rem;
		font-weight: 400;

		&--icon {
			font-size: 3rem;
			margin: 0 0.5rem;
		}
	}

	@include mix.media(mediumPC) {
		&__rights {
			font-size: 2rem;
			padding: 1rem;
		}
	}
}

.icons-container {
	@include mix.flex(center, center);

	&__link {
		padding: 1rem;
		color: inherit;
	}

	&__icon {
		width: 32px;
		height: 32px;
		transition: color 0.3s 0s ease-in-out, transform 0.3s 0s ease-in-out;
		mix-blend-mode: difference;
	}

	&__link:hover &__icon {
		transform: translateY(-14px);

		&--gmail {
			color: #c5221e;
		}

		&--facebook {
			color: #2277f2;
		}

		&--codepen {
			color: white;
		}

		&--github {
			color: white;
		}

		&--dribbble {
			color: #ea4c89;
		}
	}

	&__path {
		transition: 0.3s 0.45s ease;
	}
}
