@use "mixins" as mix;
@use "colors" as c;

.rocket-cnt {
	position: relative;
	margin: 0 auto;
	width: 280px;
	height: 265px;
	overflow: hidden;

	&::before {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}

	&__frame {
		pointer-events: none;
	}
}

.categories {
	max-width: 1600px;

	&__column {
		padding: 6rem 0;
	}
}

.skills-header {
	text-align: center;
}

.category-header {
	@include mix.flex;
	flex-direction: column;
	margin: 2rem auto;

	&__icon {
		padding: 0;
	}

	&__svg {
		transform: scale(0.75);
		stroke-dasharray: 280px;
		stroke-dashoffset: 280px;

		&--animated {
			animation: path-anim 1s 0s ease-in-out forwards;
		}
	}

	&__text {
		text-align: center;
		font-size: 3rem;
		text-shadow: 0 4px 6px rgba(30, 30, 30, 0.25);
	}
}

.category-items {
	margin: auto;
	@include mix.flex;
	flex-wrap: wrap;
	max-width: 200px;
}

.category-item {
	@include mix.flex;
	flex-flow: wrap column;
	margin: 2rem 1rem;
	width: 64px;

	&--large {
		width: 256px;
	}

	&__icon-wrapper {
		@include mix.flex(center, center);
		font-size: 3rem;
	}

	&__icon,
	&__img-icon {
		font-size: 4rem;
		min-width: 40px;
	}

	&__name {
		display: block;
		text-align: center;
		font-size: 1.3rem;
		margin: 0.5rem;
	}
}

@include mix.media(tablet) {
	.category-header {
		flex-direction: row;

		&__svg {
			transform: none;
		}

		&__text {
			font-size: 5rem;
			margin: 0 2rem;
		}
	}

	.category-items {
		@include mix.flex(center, center);
		max-width: 1600px;
	}

	.category-item {
		width: auto;
	}
}
